{% extends 'base.html.twig' %}

{% block body %}

{% if form.vars.data.id is null %}
 <h2>Create Post</h2>
{% else %}
 <h2>Update Post</h2>
{% endif %}
    {{ form_start(form,{'attr':{'id':'form'}}) }}
    {{ form_widget(form.name) }} 
    <div class="text-danger">{{ form_errors(form.name) }}</div>
    {{ form_widget(form.title) }} 
     <div class="text-danger">{{ form_errors(form.title) }}</div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}

{% endblock %}
